<!DOCTYPE html>
<html>
    <h1> Création d'un nouveau loisir </h1>
    {{ form_start(form, {'action': path('valid_loisirs') }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ form(form)}}
</html>